extends base

block main
  h2 Data Pegawai PT. PLN (Persero)
  p
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan consectetur nisl, a
    | fermentum mauris rhoncus vel. Nullam nec metus vel justo consectetur mattis.
  // Add your content here
